/* @group DL, DT, DD TAGS LIST DATA */

dl {
	margin-bottom: 50px;
}

dl dt {
	background: rgba(200,200,200,0.15);
	box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	text-align: right;
	float: left;
	display: block;
	font-weight: bold;
	margin-right: 8px;
	padding: 3px 10px;
	width: 30%;
}

dl dd {
	box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	border-radius: 2px;
	margin: 8px 0;
	padding: 3px 8px;
	overflow: hidden;
}

@media only screen and (max-width: 480px) {
	dl dt {
		float: none;
		display: inline-block;
		width: 208px;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 0;
	}
	dl dd {
		margin-top: 1px;
	}
}

dl dt:hover + dd,
dl dd:hover  {
	background: rgba(200,200,200,0.15);
}

/* @end */

.imgart img{
		margin-top: 8px;
		margin-bottom: 8px !important;

}

@media only screen and (max-width: 480px) {
	.imgart img{
		width: 100%;
	}
	}

/* Icone SERVICES  */	
	.icon-:before {
		font-family: 'Pictos Custom';
		content: attr(data-icon);
		-webkit-font-smoothing: antialiased;
		text-shadow: .01em .01em 1px #333;
	}
.service a:link {
	color: #333;
}	
	
#contact-details h4 {
	color: #eee;
}

.ui-body-c {
	background: none;
	}
	
.post iframe {
	box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	border-radius: 2px;
	overflow: hidden;
}

.alert-red {
	box-shadow: rgba(0,0,0,0.3) 0 0 3px;
}

/* @group RSS FEEDS */

.rss-output {
	border-bottom: 1px solid #ccc;
	min-height: 205px;
	width: 100%;
/*	padding: 0 !important;*/
	display: block;
}

.rss-output .body img {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
}

.title a {
	text-transform: uppercase;
}

.title {
	margin-top: 15px;
}

@media only screen and (max-width: 479px) {
	.rss-output .body img {
		width: 99%;
	}
	}

/* @end */

#header-navigation select {
	margin-bottom: 12px;
}
